@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  margin: 0;
  font-family: "Livvic", sans-serif;
  background-color: #014E56;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#main-header {
  padding-top: 73px;
}

.main_header__container,
.main_header__logo_block,
.main_header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_header__nav {
  margin-left: 80px;
}

.main_header__item:not(:first-child) {
  margin-left: 40px;
}

.main_header__link {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.main_header__btn {
  padding: 11px 33px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 24px;
  border: 2px solid #FFF;
}

.main_header__menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-image: url("../img/burger.svg");
  display: none;
}

.main_header__logo {
  max-width: 159px;
}

@media screen and (max-width: 768px) {
  .main_header__logo {
    max-width: 128px;
  }
  .main_header__nav {
    margin-left: 48px;
  }
}
@media screen and (max-width: 720px) {
  .main_header__btn,
  .main_header__nav {
    display: none;
  }
  .main_header__menu {
    display: block;
  }
  #main-header {
    padding-top: 48px;
  }
}
.hero {
  padding-top: 129px;
  background-repeat: no-repeat;
  background-image: url("../../img/hero-left.svg");
  background-position: left 30%;
}

span {
  color: #F67E7E;
}

.hero_container {
  padding-bottom: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-repeat: no-repeat;
  background-image: url("../../img/hero-bottom.svg");
  background-position: right bottom;
}

.hero_title {
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.hero_text {
  color: #FFF;
  max-width: 445px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

@media screen and (max-width: 1148px) {
  .hero {
    background-image: none;
  }
  .hero_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .hero_title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
  .hero_text {
    max-width: 457px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .hero_title {
    font-size: 64px;
    line-height: 56px;
  }
  .hero_text {
    font-size: 15px;
    line-height: 28px;
  }
  .hero_container {
    background-position: center bottom;
  }
}
.manage {
  background-color: #012F34;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-image: url("../img/manage.svg");
  background-position: right bottom;
}

.manage_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.manage_title {
  max-width: 445px;
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.manage_inner-title {
  color: #F67E7E;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 16px;
}

.manage_text {
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

.manage_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 507px;
  padding-bottom: 32px;
}
.manage_item::before {
  content: "";
  width: 72px;
  height: 72px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-right: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/icon.svg");
}
.manage_item:nth-child(2)::before {
  content: "";
  width: 72px;
  height: 72px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-right: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/icon1.svg");
}
.manage_item:nth-child(3)::before {
  content: "";
  width: 72px;
  height: 72px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-right: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/icon2.svg");
}

.manage_item::before {
  content: "";
  width: 72px;
  height: 72px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-right: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/icon.svg");
}

@media screen and (max-width: 994px) {
  .manage_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .manage_title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 64px;
  }
  .manage_item {
    max-width: 543px;
    margin-bottom: 32px;
  }
  .manage_inner-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
  .manage_text {
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
  }
  .manage {
    background-position: right top;
  }
}/*# sourceMappingURL=main.css.map */